<html>
	<head>
		<script src="https://www.gstatic.com/firebasejs/4.11.0/firebase.js"></script>
		<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	</head>
	<body>	
		<canvas id = "Canvas"></canvas>
		<script src="/../static/js/app.js"></script>
		<title>Midnight</title>
		<h1 id = "header" style = "text-align:center">Midnight</h1>
		<div style = "text-align:center">
		<input type = "button" id = "theButton" onclick = "playGame()" value = "Play"></input>
		</div>
	</body>
</html>